@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #cee4e7;         /* Light background */
  --base: #000000;       /* Light text */
  --brand-orange: #f97316;
}

.dark {
  --bg: #444444;         /* Dark background */
  --base: #ffffff;       /* Dark text */
  --brand-orange: #f97316;
}

body {
  background-color: var(--background);
  color: var(--base);
  font-family: 'IBM Plex Mono', monospace;
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}